<!DOCTYPE html>
<html>
	<head>
		<title><%= title %></title>
		<!-- Main -->
		<link rel="stylesheet" href="/stylesheets/style.css" />
		<!-- Semantic UI -->
		<link
			rel="stylesheet"
			href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css"
		/>
	</head>
	<body>
		<div class="ui container">
			<h1>Search Movies</h1>

			<form class="ui form" method="GET" action="/results">
				<div class="field six wide">
					<label>SEARCH MOVIES</label>
					<input
						type="text"
						name="movieName"
						placeholder="Movie Name"
					/>
				</div>
				<button class="ui button" type="submit">Submit</button>
			</form>
		</div>

		<!-- Scripts----------------------------------------------------------------------- -->
		<!-- jQuery -->
		<script
			src="https://code.jquery.com/jquery-3.4.1.min.js"
			integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
			crossorigin="anonymous"
		></script>
		<!-- Semantic UI -->
		<script src=" https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js"></script>
	</body>
</html>
